{
    "extends": "eslint:recommended",
    "plugins": [
        "angular"
    ],
	"parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
		"brace-style": [ "warn", "1tbs", { "allowSingleLine": true } ],
		"comma-spacing": [ "error", { "before": false, "after": true } ],
		"curly": [ "error", "multi-or-nest" ],
		"no-multiple-empty-lines": [ "error", { "max": 2, "maxBOF": 1 } ],
		"operator-linebreak": [ "error", "before" ],
		"block-spacing": [ "error", "always" ],
		"dot-location": [ "error", "property" ],
		"func-call-spacing": [ "error", "never" ],
		"key-spacing": [ "error", { "beforeColon": false } ],
		"new-cap": [ "error", { "newIsCap": true } ],
		"no-duplicate-imports":  [ "error", { "includeExports": true } ],
		"no-floating-decimal": "error",
		"no-multi-spaces": "error",
		"no-return-assign": [ "off", "except-parens" ],
		"no-undef-init": "error",
		"no-whitespace-before-property": "error",
		"object-property-newline": "off",
		"padded-blocks": [ "warn", { "switches": "never", "blocks": "always" } ],
		"yield-star-spacing": [ "error", "both" ],
		"one-var-declaration-per-line": [ "error", "always" ],
		"space-infix-ops": "error",
        "angular/controller-as": "warn",
        "angular/controller-as-vm": "off",
		"comma-dangle": "off",
		"no-extra-semi": "off",
		"no-mixed-spaces-and-tabs": "warn",
		"space-before-function-paren": [ "warn", "never" ],
		"space-before-blocks": "warn",
		"array-bracket-spacing": [ "warn", "always" ],
		"space-in-parens": [ "warn", "always" ],
		"object-curly-spacing": [ "warn", "always" ],
		"keyword-spacing": [ "warn", { "after": false, "overrides": { "else": { "before": true, "after": true }, "return": { "after": true }, "case": { "after": true } } } ],
		"no-irregular-whitespace": 1,
		"space-unary-ops": [ 1, { "words" : true , "nonwords" : true } ],
		"arrow-spacing": [ 1, {"before" : true , "after" : true } ],
		"no-unused-vars": [ 1, { "argsIgnorePattern": "kendo|iElement", "varsIgnorePattern": "vm|kendo|iElement" } ]
    },
    "env": {
        "browser": true,
        "jasmine": true,
		"jquery": true
    },
    "globals": {
		"_": true,
		"$": true,
        "kendo": true,
        "angular": true,
        "Dropbox": true,
        "module": true,
        "formatters": true,
        "inject": true,
        "PerfectScrollbar": true,
        "MobileDetect": true,
        "hljs": true,
        "d3": true,
        "DomAnimator": true,
        "moment": true
    }
}
